.wetherBg{
  background: url("../public/image/weather.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color:white;
  margin-top: -410px;
  margin-bottom: 100px;
  font-weight: 700;
  box-shadow:0px 3px 3px rgb(128, 128, 128);
  transition: width 0s, height 0s, transform 0s;
}
.wetherResultBox{
  margin: auto;
  width: 500px;
  margin-top: -400px;
  height: 300px;
  background-color: rgb(124, 192, 204);
}
.weathorIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weathorCity{
  font-size: 35px;
}
.weathorTemp{
  font-size:55px;
  font-weight: 700;
}